#product-slide{
    width:100%;
    height:450px;

    position: absolute;
    top:550px;
}
#product-slide>div>span{
    position: relative;
    left:400px;
}
#product-slide>div>#new-product{
    font-size: 20px;
    font-weight: 600;
}
#product-slide>div>#warm-story{
    font-size: 20px;
    font-weight: 600;

}
#cardMap{
    width:100%;
    height:400px;

    overflow: hidden;
    box-sizing: border-box;

}

#img-slide>img{
    width:300px;
    height:350px;
    border-radius: 20px;
    float:left;
    position: relative;
    left:400px;
    top:20px;
    margin-left:20px;
    box-shadow: 1px 1px gray;
}
.left{
    width:50px;
    height:50px;
    float:left;
    position: relative;
    top:150px;
    left:400px;
    z-index:10;
}
.right{
    width:50px;
    height:50px;
    position: relative;
    top:150px;
}
#img-slide img{
    transition: all 0.2s linear;
}
#img-slide:hover img{
    transform:scale(1.1);
}
#product-slide>#cardMap>.products>div>#apple-watch{
    width:250px;
    height:100px;
    background-color: black;
    position: absolute;
    left:500px;
    top:40px;
}
.focus{
    font-size: 8px;
    font-weight: 600;
    color:white
}
.tx{
    font-size: 18px;
    font-weight: 600;
    color:white;
}
.price{
    font-size: 12px;
    font-weight: 600;
    color:white;
}

#product-slide>#cardMap>.products>div>#iphone{
    width:250px;
    height:100px;

    position: absolute;
    left:820px;
    top:40px;
}
.focus-w{
    font-size: 8px;
    font-weight: 600;
    color:black;
}
.tx-w{
    font-size: 18px;
    font-weight: 600;
    color:black;
}
.price-w{
    font-size: 12px;
    font-weight: 600;
    color:black;
}
#product-slide>#cardMap>.products>div>#macbook{
    width:250px;
    height:100px;

    position: absolute;
    left:1130px;
    top:40px;
}
.focus{
    font-size: 8px;
    font-weight: 600;
    color:white
}
.tx{
    font-size: 18px;
    font-weight: 600;
    color:white;
}
.price{
    font-size: 12px;
    font-weight: 600;
    color:white;
}
#product-slide>#cardMap>.products>div>#macmini{
    width:250px;
    height:100px;

    position: absolute;
    left:1460px;
    top:40px;
}
#product-slide>#cardMap>.products>div>#monopoly{
    width:250px;
    height:100px;

    position: absolute;
    left:1780px;
    top:40px;
}